body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}


#ourmanna-verse {
    padding: 10px;
    margin: 6rem auto;
    height: 12rem;
    width: 40rem;
    background: rgba(145, 3, 3, 0);
    border-color: rgba(145, 3, 3, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#mannaverse {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
#mannaverse-reference:before {
    content: "- ";
}
#mannaverse-reference {
    text-align: right;
    font-size: 16px;
}
#mannaverse-version {
    color: #ddd;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 1
}

i {
    color: black;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button {
    background-color: white;
    border: 2px solid #f44336;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: aquamarine;
    display: inline-block;
    font-size: 14px;
    margin: 4px 45px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #f44336;
    color: white;
}